.sbRoot {
    display: flex;
    color: #912c31;
}
.logo {
    display: flex;
    align-items: center;
    text-align: center;
    color: black !important;
    text-decoration: none !important;
}
.logoMdDown {
  min-height: 120;
}
.logoHead {
    line-height: 24px;
    font-size: 24px;
    font-weight: 200;
    color: #912c31;
}
.logoSub {
    line-height: 24px;
    font-size: 14px;
    font-weight: 200;
}
.link {
    color: black !important;
    text-decoration: none !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    text-decoration: none !important;
}
.selectedItemStyle {
    background-color: red;
}