#######################
####     Base      ####
#######################
*.env
*.DS_Store

#######################
#### Frontend - Js ####
#######################
# Bundles
frontend/build/*
# NPM dependencies
*/node_modules
# Track empty build folder
!frontend/build/.gitkeep
# local eslintrc
frontend/.local.eslintrc
frontend/.eslintignore

#######################
#### Backend -  Go ####
#######################
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Testing
*/__pycache__