#######################
####     Base      ####
#######################
*.env
*.DS_Store

#######################
#### Frontend - Js ####
#######################
# Bundles
frontend/build/*
# NPM dependencies
*/node_modules
# Track empty build folder
!frontend/build/.gitkeep
# local eslintrc
frontend/.local.eslintrc

#######################
#### Backend -  Go ####
#######################
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Testing
*/__pycache__

#######################
####   Intellij    ####
#######################

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/Portfolio.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

## File-based project format:
*.iws