@import url('https://fonts.googleapis.com/css?family=Amiko');
@import './staticComponents/footer.scss';
@import './staticComponents/sidebar.scss';
@import './subComponents/skillbar.scss';
@import './subComponents/experience.scss';
@import './subComponents/about.scss';
@import './subComponents/blog.scss';
@import './subComponents/contact.scss';
@import './components/notfound.scss';
@import './components/imprint.scss';
@import './components/homepage.scss';

body {
  box-sizing: border-box;
}
.font-coustom {
  //font-family: 'Amiko';
  //font-family: "Circular Std",sans-serif;
  font-family: 'Noto Sans', sans-serif;
}
.link-color {
  color: #7c7c7d !important;
}
.home-color {
  color: rgb(11, 11, 14);
}
.link-color-login {
  color: #000 !important;
}
.headline {
  color: black;
}
.linebreak {
  margin-bottom: 0px;
  margin-top: 0px;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section.dark {
  background-color: #fafbff;
}
.spacersection {
  padding-top: 0px;
  padding-bottom: 40px;
  @media only screen and (max-width: 1280px) {
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

.iconBox {
  color: #ffffff;
  background: #912c31;
  padding: 15px;
  width: 54px;
}

.hiddenOnMobile {
  @media only screen and (max-width: 1280px) {
    visibility: hidden;
  }
}

.sectionTitle {
  background-color: #912c31;
  color: white;
  margin-bottom: 30px;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 200;
}
.sectionContainer {
  width: 90%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
}
.contentBlock {
  flex-grow: 1;
  line-height: 2.4rem !important;
  font-size: 1.68rem !important;
  font-weight: 200 !important;
  color: #333333de;
}
.contentBlockTab {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.contentBlockThick {
  flex-grow: 1;
  margin-bottom: 5px !important;
  line-height: 1.5rem !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
  color: #333333e3;
}
