@import url('https://fonts.googleapis.com/css?family=Amiko');
@import './footer.scss';
@import './header.scss';
@import './skillbar.scss';
@import './about.scss';
@import './contact.scss';
@import './easteregg.scss';
@import './notfound.scss';
@import './imprint.scss';

body {
     box-sizing: border-box;
}
.font-coustom {
     //font-family: 'Amiko';
     //font-family: "Circular Std",sans-serif;
     font-family: 'Noto Sans', sans-serif;
}
.link-color {
     color: #7C7C7D !important;
}
.home-color {
     color: rgb(11, 11, 14);
}
.link-color-login {
     color: #000 !important;
}
.headline {
     color: black;
}
.linebreak {
     margin-bottom: 0px;
     margin-top: 0px;
}
.section {
     padding-top: 50px;
     padding-bottom: 50px;
}
.section.dark {
     background-color: #fafbff;
}
.spacersection {
     padding-top: 0px;
     padding-bottom: 40px;
     @media only screen and (max-width: 767px) {
          padding-top: 20px;
          padding-bottom: 5px;
     }
}
.timelineText {
     font-weight: 400;
}
.timelineBox {
     margin-bottom: 50px !important;
}
