.impbutton{
    font-family: "Circular Std",sans-serif;
    font-size: 14px;
    text-decoration: none !important;
    text-transform: uppercase;
    background: transparent;
    color: black !important;
    border: 1px solid black;
    display: inline-block;
    padding: 10px 25px !important;
    font-weight: 400;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}