.profilfoto {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.aboutText {
  flex-grow: 1;
  line-height: 2.4rem !important;
  font-size: 1.5rem !important;
  font-weight: 200 !important;
  color: #333333de;
}

.aboutTextThick {
  flex-grow: 1;
  margin-bottom: 5px !important;
  line-height: 1.5rem !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
  color: #333333e3;
}

.aboutTextTab {
  display: inline-block;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
