#notfound {
    position: relative;
    height: 100vh;
    background-color: #222;
}
.notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.error404 {
    position: relative;
    height: 240px;
}
.notfoundh3 {
    font-family: 'Cabin', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c9c9c9;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
}
.notfoundh1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    margin-left: 0px;
    color: #c9c9c9;
    text-transform: uppercase;
    letter-spacing: -27px;
    margin-left: -20px;
}
.notfoundh2 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #c9c9c9;
    margin-top: 0px;
    margin-bottom: 25px;
}
.notfoundbutton{
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-decoration: none !important;
    text-transform: uppercase;
    background: transparent;
    color: #c9c9c9 !important;
    border: 2px solid #c9c9c9;
    display: inline-block;
    padding: 10px 25px !important;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}